html,
body {
    height: 100%;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#token-verify {
    opacity: 0;
    transform: translateY(100%);
}

#token-verify.animated-reverse {
    animation: fade-out-bottom 0.5s ease-out;
    animation-fill-mode: forwards;
}

#token-verify.animated {
    animation: fade-in-bottom 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-bottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}